src/*.exe
src/fratcoin
src/fratcoind
src/test_fratcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.fratcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
fratcoin-qt
Fratcoin-Qt.app

# Unit-tests
Makefile.test
fratcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
